<div class="header">
    <h1>Users</h1>
</div>

<br>


<div class="menu">
    <div>
        <a
        *ngVisibleIfHasPermissions="{ 
            permissions: [appPermissions.HasRoleAdmin], 
            values: [
                (
                    this.roles.Admin.toString() 
                    ==
                    this.authService.getAuthenticationItemValueByKey(authenticationItems.Role)
                ).toString()
            ]
        }"
        [routerLink]="['/users/create']"><button class="button-default" type="button">Create</button></a>
    </div>

    <div class="spacer">
    </div>

    <div style="display: flex; flex-direction: row;">
        <input style="outline: none; flex-grow: 2; border: none; border-bottom: 1px solid gainsboro;" />
        <button type="button" style="border: none; border-bottom: 1px solid gainsboro; background-color: white;">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </div>
</div>



<br />

<div class="table-default">
    <table style="table-layout: fixed; width: 100%;">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Role name</th>
                <th>Password change required</th>
                <th
                    *ngVisibleIfHasPermissions="{ 
                        permissions: [appPermissions.HasRoleAdmin], 
                        values: [
                            (
                                this.roles.Admin.toString() 
                                ==
                                this.authService.getAuthenticationItemValueByKey(authenticationItems.Role)
                            ).toString()
                        ]
                    }"
                >
                    Management
                </th>
            </tr>
        </thead>
        <tbody>
            <tr style="max-height: 70px; height:70px;" *ngFor="let u of users?.users">
                <td>{{ u.id }}</td>
                <td>{{ u.username }}</td>
                <td>{{ u.roleName }}</td>
                <td [ngStyle]="{'color': u.isPasswordChangeRequired ? 'red' : 'black'}">
                    {{ (u.isPasswordChangeRequired ? "Yes" : "No") }}
                </td>
                <td 
                    *ngVisibleIfHasPermissions="{ 
                        permissions: [appPermissions.HasRoleAdmin], 
                        values: [
                            (
                                this.roles.Admin.toString() 
                                ==
                                this.authService.getAuthenticationItemValueByKey(authenticationItems.Role)
                            ).toString()
                        ]
                    }"
                    class="options"
                >
                    <a [routerLink]="['/users', u.id, 'details']">
                        <i class="fa-solid fa-circle-info"></i>
                    </a>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <a [routerLink]="['/users', u.id , 'edit']">
                        <i class="fa-solid fa-pen"></i>
                    </a>
                    <span>&nbsp;</span>
                    <span>&nbsp;</span>
                    <a [routerLink]="['/users', u.id, 'delete']">
                        <i class="fa-solid fa-trash"></i>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="no-data" *ngIf="users?.users?.length == 0">
        No data to show.
    </div>

    <spinner *ngIf="!users"></spinner>
</div>

<pager *ngLoading="users" [pageInfo]="users?.pageInfo!"></pager>
