<div style="margin-top: auto;" class="border-top">
    <div class="container">
        <div class="row" style="padding:20px;">
            <div class="col" style="text-align:center;">
                <div style="display: flex; justify-content: center; align-items: center; height:100%;">
                    &copy; 2024 - Simple Data Management System
                </div>
            </div>
            <div class="col" style="text-align:center;">
                <b>
                    Attributions:
                </b>
                <br />
                <a href="https://www.flaticon.com/free-icons/performance" title="performance icons">Performance icons created by Design Circle - Flaticon</a>
                <br />
                <a href="https://www.flaticon.com/free-icons/image-placeholder" title="image placeholder icons">Image placeholder icons created by HideMaru - Flaticon</a>
                <br />
                <a href="https://www.pexels.com" title="pexels official website">Pexels.com</a>
                <br />
                <a href="https://www.iconfinder.com/icons/92407/states_united_icon">https://www.iconfinder.com (92407)</a>
                <br />
                <a href="https://www.iconfinder.com/icons/92041/croatia_icon">https://www.iconfinder.com (92041)</a>
            </div>
        </div>
    </div>
</div>