<div class="header">
    <h1>Create new item</h1>
</div>

<br>

<div class="menu">
    <div>
        <go-back></go-back>
    </div>
</div>

<br>



<div class="content-container">
    
    <http-errors-display [errors]="errors"></http-errors-display>

    <form-required-fields-message></form-required-fields-message>

    <br>

    <form method="post" [formGroup]="formGroup" (ngSubmit)="onCreateItemFormSubmitted()">
        <div class="form-controls-container">
            <div class="form-controls">
                <div class="port-side">

                    <div class="input-control">
                        <div class="required">
                            <label>
                                <label for="nazivproizvoda">Naziv proizvoda:</label>
                            </label>
                        </div>
                    </div>
                    <div>
                        <input formControlName="nazivproizvoda" type="text" id="nazivproizvoda" />
                    </div>
                    <div>
                        <small *ngIf="this.formGroup.get('nazivproizvoda')?.errors?.['required'] 
                                && this.formGroup.get('nazivproizvoda')?.touched"
                        >
                            Naziv proizvoda is required.
                        </small>
                    </div>

                    <br>

                    <div class="input-control">
                        <div>
                            <label for="opis">Opis:</label>
                        </div>
                        <div>
                            <textarea formControlName="opis" rows="2" id="opis" spellcheck="false"></textarea>
                        </div>
                        <div>
                            <small  *ngIf="this.formGroup.get('opis')?.errors?.['maxlength'] 
                                && this.formGroup.get('opis')?.touched"
                            >
                                Opis exceeds maximum number of allowed characters.
                            </small>
                        </div>
                    </div>

                    <br>

                    <div class="input-control">
                        <div>
                            <label for="datumakcije">Datum akcije:</label>
                        </div>
                        <div>
                            <input formControlName="datumakcije" type="text" id="datumakcije" />
                        </div>
                        <div class="error">
                            <small *ngIf="this.formGroup.get('datumakcije')?.errors?.['maxlength'] 
                                    && this.formGroup.get('datumakcije')?.touched"
                            >
                                Datum akcije exceeds maximum number of allowed characters.
                            </small>
                        </div>
                    </div>

                    <br>

                    <div class="input-control">
                        <div class="required">
                            <label for="cijena">Cijena:</label>
                        </div>
                        <div>
                            <input formControlName="cijena" type="number" numbersOnly id="cijena" />
                        </div>
                        <div>
                            <small *ngIf="this.formGroup.get('cijena')?.errors?.['required'] 
                                    && this.formGroup.get('cijena')?.touched"
                            >
                                Cijena is required.
                            </small>
                        </div>
                    </div>

                    <br>

                    <div class="input-control">
                        <div class="required">
                            <label for="retailer">Retailer:</label>
                        </div>
                        <div>
                            <select *ngLoading="retailers" id="retailer" formControlName="retailerId">
                                <option *ngFor="let r of retailers?.retailers" [value]="r.id">{{ r.name }}</option>
                            </select>
                        </div>
                        <div>
                            <small *ngIf="this.formGroup.get('retailerId')?.errors?.['required'] 
                                    && this.formGroup.get('retailerId')?.touched"
                            >
                                Retailer is required.
                            </small>
                        </div>
                    </div>

                    <br>

                    <div class="input-control">
                        <div class="required">
                            <label for="kategorija">Category:</label>
                        </div>
                        <div>
                            <select *ngLoading="categories" id="kategorija" formControlName="kategorija">
                                <option *ngFor="let c of categories?.categories" [value]="c.id">{{ c.name }}</option>
                            </select>
                        </div>
                        <div>
                            <small *ngIf="this.formGroup.get('kategorija')?.errors?.['required'] 
                                    && this.formGroup.get('kategorija')?.touched"
                            >
                                Category is required.
                            </small>
                        </div>
                    </div>

                </div>

                <div class="image-control starboard-side">
                    <file-upload
                        [maxSize]="0.5 * 1024 * 1024"
                        [form]="formGroup"
                        [fileControlName]="'URLdoslike'"
                    >
                    </file-upload>
                </div>
            </div>
            
            <br>

            <div class="flex-justify-center">
                <button class="button-default" type="submit" 
                    [disabled]="!formValid || !this.formGroup.dirty || !this.formGroup.touched"
                >
                    Create
                </button>
            </div>

        </div>
    </form>
</div>



