<div [formGroup]="form">
    <div style="width:fit-content; margin:auto;">
        <div style="text-align: center;"> 
            <b>
                <label>Thumbnail:</label>
            </b>
        </div>
        <div style="position:relative;">
            <img 
                #imgPreviewControl
                [ngStyle]="{
                    'border': preview ? '2px solid black' : 'none', 
                    'padding': preview ? '3px' : 'none', 
                    'cursor': preview ? 'default' : 'pointer'
                }"
                [ngStyle]="{'pointer-events': form.disabled ? 'none' : ''}"
                (click)="onOpenFileDialogClicked($event)"
                style="width:300px; height:300px; max-width:300px; max-height:300px; cursor:pointer;" 
                [attr.src]="preview ? preview : '/assets/resources/image_not_available.png'"
            />

            <div style="position:absolute; top:10px; right: 10px; cursor:pointer;" *ngIf="preview">
                <i
                    id="thumbnailDeleteControl" 
                    (click)="onRemovePreviewImageClicked($event)"
                    class="fa-solid fa-circle-xmark fa-lg"
                >
                </i>
            </div>

            <div style="text-align: center; padding:5px;" *ngIf="preview">
                <i 
                    [ngStyle]="{'color': isValidSize ? 'green' : 'red'}" 
                    [ngClass]="['fa-solid', isValidSize ? 'fa-check' : 'fa-xmark']"
                >
                </i>
        
                <div *ngIf="!isValidSize">
                    <small>Invalid file size.</small>
                </div>
            </div>
            
            <div style="text-align: center;" [ngStyle]="{'display': preview ? 'none' : 'block'}">
                <button
                    class="button-default" 
                    type="button"
                    (click)="onOpenFileDialogClicked($event)"
                    [ngClass]="{'disabled': form.disabled}"
                >
                    Select a file...
                </button>
                <input 
                    [disabled]="form.disabled"
                    style="display:none;"
                    #fileUploadControl
                    [attr.formControlName]="fileControlName"
                    type="file" 
                    (change)="onFileUploadChanged($event)" 
                />
            </div>
        </div>
    </div>
            </div>
