
<div style="display: flex; flex-direction: column; min-height: 100vh; width: 80vw; margin:auto;">

    <div class="border-bottom">
        <navbar></navbar>
    </div>


    <router-outlet></router-outlet>

    <div style="position:fixed; bottom:10px; left: 10px; border: 1px solid red; 
                min-width: 50px; min-height: 50px; background-color: white; 
                max-width: 400px;" #adminCredentials>
                
                <div style="display: flex; justify-content: space-between;">
                    <div style="text-align: left; margin-left: 10px; margin-right:10px; margin-top:5px; text-wrap: wrap;">
                        <b><label>Only used for development/ test purposes.</label></b>
                    </div>                    
                    <div style="text-align: right; margin-right: 10px; margin-top:5px;">
                        <span class="adminCredentialsCloseIcon" (click)="onAdminCredentialsPopupCloseClicked($event)">
                            <i class="fa-solid fa-xmark"></i>
                        </span>
                    </div>
                </div>
                <hr style="padding:0px; margin:5px 0px 0px 0px;">
        <div style="padding:20px; text-align: center;">
            <label><b>(DEMO)</b> Default admin credentials:</label>
            <br>
            <div style="text-align: center;">
                <label>Username: <em style="text-decoration: underline;">admin</em></label>
                <br>
                <label>Password: <em style="text-decoration: underline;">admin!1A</em></label>
            </div>
        </div>
    </div>

    <div style="margin-top: auto;">
        <footer></footer>
    </div>

    <div 
        [ngStyle]="{'visibility': toastVisible ? '' : 'hidden'}"
        style="display: flex; position: fixed; left: 0; right: 0; bottom:30px;">
        <toast (toastVisibilityToggled)="onToastVisibilityToggled($event)"></toast>
    </div>

</div>