<div *ngIf="pager">
        <div class="modelTablePagination">
            <ul>
                <ng-container *ngIf="pager?.CurrentPage! > 1">
                    <li>
                        <a [routerLink]="[url]" [queryParams]="firstPage">
                            First
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[url]" [queryParams]="previousPage">
                            Previous
                        </a>
                    </li>
                </ng-container>
                
                <li *ngFor="let page of middlePages; let i = index;">
                    <a 
                        [routerLink]="[url]" [queryParams]="page.kvps"
                        [ngClass]="(pager.CurrentPage == (page.kvps['page'])) ? 'page-number-active' : ''"
                    >
                        {{ page.kvps['page'] }}
                    </a>
                </li>

                <ng-container *ngIf="pager?.CurrentPage! < pager?.TotalPages!">
                    <li>
                        <a [routerLink]="[url]" [queryParams]="nextPage">
                            Next
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="[url]" [queryParams]="lastPage">
                            Last
                        </a>
                    </li>
                </ng-container>
            </ul>
        </div>
</div>