<div class="header" *ngLoading="retailer">
    <h1>Retailer details - '<b>{{retailer?.name}}</b>'</h1>
</div>

<br>

<div class="menu">
    <div>
        <go-back></go-back>
    </div>
</div>

<br>


<div class="content-container">

    <http-errors-display [errors]="errors"></http-errors-display>

    <br>

    <div class="readonly-form-controls-container">
        <div class="readonly-form-controls">

            <div class="port-side">
                <div class="readonly-control">
                    <div>
                        <label>Name:</label>
                    </div>
                    <div>
                        <em>
                            <label>{{retailer?.name}}</label>
                        </em>
                    </div>
                </div>
                
                <br>
                
                <div class="readonly-control">
                    <div>
                        <label>Priority:</label>
                    </div>
                    <div>
                        <em>
                            <label>{{retailer?.priority}}</label>
                        </em>
                    </div>
                </div>
            </div>

            <div class="starboard-side">
                <div class="image-readonly-control">
                    <img [attr.src]="retailer?.logoImageUrl ? retailer?.logoImageUrl : './assets/resources/image_not_available.png'" />
                </div>
            </div>

        </div>

        <br>

        <div class="flex-justify-center">
            <div 
                *ngVisibleIfHasPermissions="{ 
                    permissions: [appPermissions.IsInRole], 
                    values: [
                        (
                            (
                                this.roles.Admin.toString() 
                                ==
                                this.authService.getAuthenticationItemValueByKey(authenticationItems.Role)
                            )
                            ||
                            (
                                this.roles.Employee.toString()
                                ==
                                this.authService.getAuthenticationItemValueByKey(authenticationItems.Role)
                            )
                        ).toString()
                    ]
                }" 
                class="entity-management-options"
            >
                <a [routerLink]="'/retailers/'+this.retailerId+'/edit'">
                    <button class="button-default">
                        Edit
                    </button>
                </a>
                <a [routerLink]="'/retailers/'+this.retailerId+'/delete'">
                    <button class="button-danger">
                        Delete
                    </button>
                </a>
            </div>
        </div>

    </div>
            
</div>


